custom-mat-button-group {
    border-radius: 3px;
    display: inline-block;
    padding: 0;
    margin: 6px 8px;
    min-height: 36px;
    min-width: 88px;
  }
  
  custom-mat-button-group.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  
  custom-mat-button-group > .mat-button {
    border-radius: 0;
    border: 0;
    min-width: 20px;
    margin: 0;
  }