.menu-container{
    margin-bottom:50px;
}

.aaa{
    margin-top:20px;
    background-color:yellow;
}


.bbb{
    position: relative;
    background: #fde7d1;
    padding: 2em;
    width:170px;
}



.bbb:before{
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: #fde7d1 transparent transparent transparent;
    border-width: 5px 5px 0 5px;
}


.test-test .mat-menu-panel {
    margin-top:100px;
}




.arrow_box_inner {
    position: relative;
    /* margin-top:10px; */
	background: #3cd5d5;
}
.arrow_box_inner:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(213, 60, 198, 0);
	border-bottom-color: #3cd5d5;
	border-width: 5px;
	margin-left: -5px;
}