<p>
  form works!
</p>
<!-- <mat-checkbox>Check me!</mat-checkbox> -->



<form class="class1">
  <mat-form-field class="example-full-width class1">
    <input class="class1" matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

</form>


<form class="class2">

  <mat-form-field class="example-full-width class2">
    <textarea class="class2" matInput placeholder="Leave a comment" matTextareaAutosize matAutosizeMinRows="2"></textarea>
  </mat-form-field>
</form>









<!-- 
<mat-radio-group>
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>


------
<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-slider></mat-slider>


<mat-slide-toggle
[color]="color"
[checked]="checked"
[disabled]="disabled"
 (change)="toggle_slide($event)">Slide me!</mat-slide-toggle>
 <button (click)="change_slide()">change_slide</button>

 -->



 