<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 test test 
</div>

<!-- <app-test-button></app-test-button> -->
<br>
-------------------
<br>
<app-dialog-overview></app-dialog-overview>
<br>

app-datepicker a
<!-- <app-datepicker> app-datepicker </app-datepicker> -->
form
<!-- <app-form></app-form> -->

<!-- <app-layout></app-layout>

<app-snackbar-container></app-snackbar-container>
<app-icons></app-icons> -->


<!-- <app-menu></app-menu> -->

<!-- <app-tab-container></app-tab-container> -->

<!-- <mat-chip-list>
    <mat-chip>Papadum</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Dal</mat-chip>
  </mat-chip-list>
  
  
  <mat-spinner></mat-spinner>
  
  <mat-progress-bar mode="determinate" value="80">ss</mat-progress-bar>
   -->

<router-outlet></router-outlet>
